.add-city {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.add-city p {
    border-radius: 20px; /*Borde redondeado*/
    color: white; /*Color de la fuente*/
    padding: 15px; /*Tamaño*/
    margin: 10px; /*Margen entre warning y warning*/
    text-align: center; /*Ubicación del texto en el centro*/
    align-self: normal; /*Alineación del elemento dentro del bloque*/
}

p.success {
    background-color: var(--color-success); /*Color de suceso*/
}

p.error {
    background-color: var(--color-error); /*Color de error*/
}

p.warning {
    background-color: var(--color-warning); /*Color de warning*/
}